

<input name="prodId" value="@SelectedPizza.Id" type="hidden" />
<input name="productName" value="@SelectedPizza.Name" type="hidden" />
<input name="totalPrice" value="@TotalPrice" type="hidden" />
<input name="size" value="@PizzaSize" type="hidden" />

@if (allAddedToppings.Count() == 0)
{
    <input name="topp" value="@allAddedToppings" type="hidden" />
}
else
{
    @foreach (KeyValuePair<string, int> kvp in allAddedToppings)
    {
        <input name="topp[@kvp.Key]" value="@kvp.Value" type="hidden" />
    }

}


<h2 class="text-center text-danger bg-warning p-3">@SelectedPizza.Name</h2>
<div class="row p-5 ">
    <div class="col">
        <div class=" d-flex flex-column  align-items-center">
            <div>

                <img class="rounded img-thumbnail"
                     src="@SelectedPizza.ImagePath"  
                     alt="pizza" />

            </div>
            <h5 class="mt-3 text-warning">
                @SelectedPizza.Description
            </h5>
        </div>

    </div>

    <div class="col">
        <div class="p-3 text-center text-info">
            <h4 class="text-center text-warning">Choose Pizza Size</h4>

            @foreach (Size s in SelectedPizza.Category.Sizes)
            {

                 
                <button type="button" class=" btn btn-@GetClass(s.TheSize) mt-3 "
                        @onclick="@(()=>ChangePizzaSize(s.Id,SelectedPizza.CategoryId,s.TheSize))">
                    @s.TheSize

                </button>
            }
            @if (PizzaPrice != 0)
            {
                <div class="mt-2 text-center text-info">

                    <div class="text-dark">
                        <h4 class="text-warning"><span class="text-dark">Price:</span> @PizzaPrice.ToString("c")</h4>
                    </div>

                    <div class="text-dark">
                        <h4 class="text-warning"><span class="text-dark">Total Price:</span> @TotalPrice.ToString("c")</h4>
                    </div>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-warning" scope="col">Toppings</th>
                                    <th class="text-dark" scope="col">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (KeyValuePair<string, int> kvp in allAddedToppings)
                                {

                                    <tr>
                                        <th class="text-dark" scope="row">
                                            @kvp.Key
                                        </th>

                                        <th class="text-dark">
                                            X @kvp.Value

                                        </th>
                                        <th class="text-dark">
                                            <button type="button"
                                                    class="btn-sm text-danger bg-warning "
                                                    @onclick="@(()=>RemoveTopping(kvp.Key))">
                                                Remove
                                            </button>
                                        </th>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

        </div>
    </div>

    <div class="col">
        @if (ToppingsOfSpecCategory != null)
        {
            <div>
                <h3 class="text-dark">Toppings</h3>
                <div class="list-group mt-3">
                    @foreach (Topping t in ToppingsOfSpecCategory)
                    {

                        <div class="list-group-item list-group-item-primary">
                    
                            <button type="button"
                                    class="btn-sm text-dark bg-warning "
                                    @onclick="@(()=>AddTopping(t.Name))">
                                @t.Name
                            </button>
                            
                        </div>

                    }
                </div>
            </div>
        }
    </div>

    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-warning" scope="col">Topping Category</th>
                    <th class="text-dark" scope="col">Prices</th>
                    <th class="text-warning" scope="col">Pizza Size</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Category c in ToppCategories)
                {
                    <tr>
                        <th class="text-info" scope="row">
                            <button type="button" class="btn-sm btn-@GetToppClass(c.Name)" @onclick="@(e=>SeeToppings(e,c.Id,c.Name))">
                                @c.Name
                            </button>
                        </th>

                        <th class="text-dark">
                            @if (ToppingPrice(c.Id, PizzaSizeId) != 0)
                            {
                                @ToppPrice.ToString("c")
                            }


                        </th>

                        <th class="text-dark">
                            @PizzaSize
                        </th>
                    </tr>

                }
            </tbody>
        </table>
        <div class="p-3">
            <button type="submit" class="btn btn-success">Add to Cart</button>
        </div>
    </div>

</div>




