@model IEnumerable<Pizza>

<div>
    <div class="row">
        <div class="col-3">
            <vc:pizza-categories />
        </div>
        <div class="col-8 d-flex flex-row justify-content-lg-between flex-wrap ">

            @foreach (Pizza p in Model)
            {

            <div class="mt-4 align-items-center">
                <div class="text-black mb-2">
                    <h4> @p.Name</h4>
                    @*Just Admin will be admitted to this actions.*@
                    <form asp-action="DeleteProduct" asp-controller="Admin" method="post">

                        <input type="hidden" name="prodId" value="@p.Id" />
                        <a asp-action="ProductForm"
                           asp-controller="Admin"
                           asp-route-prodId="@p.Id"
                           asp-route-productName="@p.GetType().Name"
                           class="btn  btn-sm btn-warning">

                            Edit
                        </a>
                        <button type="submit" class="btn  btn-sm btn-danger m-lg-1">
                            Delete
                        </button>

                    </form>



                </div>

                <div>
                    <a asp-route-pizzaId="@p.Id" asp-action="SpecificPizza">
                        <img class="rounded img-thumbnail pizzaImage"
                             @*src="/@p.ImagePath"*@
                             src="@p.ImagePath"
                             alt="pizza" />
                    </a>
                </div>
              
            </div>
            }

        </div>
    </div>
</div>