@model IEnumerable<Drink>

@{ 
    Dictionary<string, int>
   allAddedToppings = new Dictionary<string, int>();
}
        
            <div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-8 d-flex flex-row  justify-content-lg-between flex-wrap ">

                        @foreach (Drink d in Model)
                        {
                        <form asp-action="AddToCart">
                            <div class="mt-4 align-items-center">
                                <div class="mb-2">
                                   
                                    <h4 class="text-center text-white"> @d.Name</h4>

                                        <input name="topp" value="@allAddedToppings" type="hidden" />
                                        <input name="prodId" value="@d.Id" type="hidden" />
                                        <input name="productName" value="@d.Name" type="hidden" />
                                        <input name="size" value="@ViewBag.Size" type="hidden" />
                                    
                                    @foreach (CategorySize cs in d.Category.CategoriesSizes)
                                    {
                                        
                                        <h5 class="text-warning text-center">@cs.Price.ToString("c")</h5>
                                 
                                     
                                     <div class="text-lg-center">
                                            <button type="submit" class="btn  btn-success">Add to Cart</button>
                                        </div>   
                                        <input name="totalPrice" value="@cs.Price" type="hidden" />

                                    }

                                </div>

                                <div>

                                    <img class="rounded img-thumbnail pizzaImage"
                                         src="@d.ImagePath"
                                         alt="drink" />

                                </div>

                            </div>
                        </form>
                                }

                        </div>
                </div>
            </div>

     
